{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <h3>Categories</h3>
    <a href="{{ url_for('newCategory') }}">Add category</a>
    <ul class="list-group">
        {% for cat_count in count_categories %}
            {% if  cat_count[0] == category.name %}
                <li class="list-group-item active">
                    {% if cat_count[2]  %}
                        <span class="badge">{{cat_count[2]}} item{%if cat_count[2] > 1 %}s{% endif %}</span>
                    {% endif %}
                    <a href="{{ url_for('showCategory', category_name=cat_count[0], category_id=cat_count[2])}}">
                        {{cat_count[0]}}</a>
                    {% if cat_count[3] == session['user_id'] %}
                        <br>
                        <a href="{{ url_for('editCategory', category_name=cat_count[0]) }}">Edit</a> |
                        <a href="{{ url_for('deleteCategory', category_name=cat_count[0]) }}">Delete</a>
                    {% endif %}
            {% else %}
                <li class="list-group-item">
                    {% if cat_count[2] %}
                        <span class="badge">{{cat_count[2]}} item{%if cat_count[2] > 1 %}s{% endif %}</span>
                    {% endif %}
                    <a href="{{ url_for('showCategory', category_name=cat_count[0], category_id=cat_count[2])}}">
                        {{cat_count[0]}}</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
  </div>
  <div class="col-sm-8">
    <h3>{{category.name}} Items</h3>
    ({{items|count}} {% if items|count > 1 or items|count == 0 %}results{% else %}result{% endif %})
    <div class="list-group">
        {% for item in items %}
        <a href="{{ url_for('showItem', item_id=item.id)}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{item.name}}</h4>
        </a>
        {% else %}
            <p>No items yet.</p>
        {% endfor %}
    </div>
    <p><a href="{{ url_for('newItem', category_id=category.id) }}">Add item</a></p>
  </div>
</div>
{% endblock %}
